*,
body,
html,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
}

#user-profile-page {
  display: none;
}

#search-page {
  width: 100%;
  height: 100vh;
  min-height: max-content;
  background-color: #f6f8fa;
}

#search-page-github-logo {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: fit-content;
}

#search-page-github-logo .github {
  color: #010409;
}

#form-title {
  margin-bottom: 1rem;
  text-align: center;
}
.form-subheading {
  max-width: 400px;
  text-align: center;
  margin: 10px auto;
  margin-bottom: 1.5rem;
}

#search-form {
  width: 100%;
  max-width: 300px;
  /* min-width: max-content; */
  padding: 1rem;
  margin: 0 auto;
}

input {
  padding: 10px !important;
}

.username-label {
  margin-bottom: 1rem;
  font-weight: 500;
}

#user-search-input {
  width: 100%;
  padding: 3px 10px;
  outline: none;
  display: block;
  margin-top: 5px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

#user-search-input:focus {
  outline: 1px solid #97cbff;
}

.error-placeholder {
  color: red;
  font-size: 12px;
  margin-bottom: 1rem;
  display: none;
}

#search-profile-btn {
  display: block;
  min-width: 120px;
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #dfdfdf41;
  color: #fff;
  background-color: #2ea44f;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 24px;
}
#form-spinner {
  pointer-events: none;
}

#form-spinner,
#profile-spinner {
  display: none;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

/* HEADER AND NAV BAR STYLES ///////////////////////////////*/
.header {
  width: 100%;
  background-color: #010409;
}
@media screen and (min-width: 425px) {
  #search-page {
    width: 100%;
    height: 100vh;
    min-height: fit-content;
    background-color: none;
    padding: 2rem;
  }

  #form-title {
    margin-bottom: 1rem;
  }

  #search-form {
    background-color: #f6f8fa;
    border-radius: 3px;
  }
}

@media screen and (max-height: 300px) {
  #search-page {
    height: 100%;
  }
}

@media screen and (min-height: 330px) {
  #search-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f8fa;
  }

  #search-form {
    background-color: #fff;
    border-radius: 3px;
  }
}
#mobile-navbar,
#desktop-navbar {
  background-color: #24292f;
  width: 100%;
  padding: 0.6rem 1rem;
  transition: height 0.3s ease;
}

.closed {
  height: 54px;
}
.open {
  height: max-content;
}
#mobile-navbar {
  overflow: hidden;
}
.mobile-nav-wrapper,
#desktop-navbar,
.desktop-user-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#desktop-navbar {
  display: none;
  height: 54px;
}

.desktop-nav-wrapper,
.desktop-nav-action {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.desktop-nav-wrapper a,
.desktop-user-icon,
.desktop-nav-item {
  text-decoration: none;
  color: #fff;
}

.desktop-nav-item {
  font-size: 13px;
  position: relative;
}

.desktop-nav-action .fa-caret-down {
  margin-left: 5px;
}

.mobile-nav-item {
  color: #fff;
  list-style: none;
  font-size: 18px;
  position: relative;
}

#mobile-menu-btn {
  cursor: pointer;
}

.github {
  font-size: 24px;
  color: #fff;
}

.github-back {
  cursor: pointer;
}

.search-box {
  border: 1px solid #ffffff1b;
  background: #0d1117;
  border-radius: 3px;
  padding: 3px 5px;
  font-size: 12px;
  height: 30px;
  display: flex;
}

.mobile-search-box {
  margin-bottom: 20px;
}

.desktop-navbar-search-btn,
.mobile-navbar-search-btn {
  border: 1px solid #ffffff1b;
  padding: 1px 5px;
  border-radius: 3px;
  color: grey;
  float: right;
  height: 92%;
  cursor: pointer;
}

#desktop-search-input,
#mobile-search-input {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 12px;
  width: 100%;
}

#desktop-search-input::placeholder,
#mobile-search-input::placeholder {
  color: #ffffff7e;
}

.desktop-navbar-link {
  font-size: 13px;
}

.desktop-user-icon-img {
  border-radius: 50%;
}
.mobile-nav-link-wrapper {
  margin-top: 20px;
}
.mobile-nav-link {
  text-decoration: none;
  color: #f0f6fc;
  display: block;
  padding: 5px 0;
  border-top: 0.3px solid #ffffff1b;
  font-size: 12px;
}
.mobile-user-icon-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}
#mobile-user-icon-img {
  border-radius: 50%;
}

.profile-page-search-loader {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 3rem !important;
  color: #828382 !important;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  background-color: #ffffffe7;
  z-index: 100;
}

.profile-page-search-loader i#profile-spinner {
  display: block !important;
}

.profile-page-search-error {
  position: absolute;
  background-color: red;
  color: #fff;
  padding: 1rem;
  min-width: max-content;
  max-width: 200px;
  width: 100vw;
  text-align: center;
  left: calc(50vw - 100px);
  top: -100px;
  transition: all 0.3s ease;
  animation: slideDown 3s infinite;
  animation-play-state: paused;
  z-index: 300;
}

@keyframes slideDown {
  20% {
    top: 20px;
  }
  21% {
    top: 20px;
  }
  95% {
    top: 20px;
  }
  100% {
    top: -100px;
  }
}

.notice {
  background: blue;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  right: -2px;
  top: 2px;
}

.desktop-nav-item .notice {
  height: 7px;
  width: 7px;
  right: -1px;
}
/*//////////NAV STYLE ENDS//////////////////////////// */

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 1rem; */
}

#profile-section {
  grid-row: 1 / 2;
  grid-column: 1/2;
  padding: 0 1rem;
  margin-top: 1rem;
}

#profile-tab-section {
  grid-row: 2 / 3;
  grid-column: 1/2;
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid #eaecef;
  font-size: 12px;
}

.profile-tab {
  padding: 6px 10px;
  cursor: pointer;
}

.profile-tab:hover {
  border-bottom: 2px solid tomato;
  font-weight: bold;
}

.repo-tab {
  border-bottom: 2px solid tomato;
  font-weight: bold;
}

#repo-count {
  font-size: 10px;
  padding: 0.2px 4px;
  background-color: #4343435d;
  border-radius: 10px;
}
.user-image-section {
  position: relative;
  width: 30%;
  text-align: center;
}
#user-profile-image {
  width: 90%;
  height: 90%;
  border-radius: 50%;
}
.desktop-user-status {
  position: absolute;
  bottom: 20%;
  right: 5%;
}

.mobile-user-status {
  margin-top: 10px;
  padding: 2px 5px;
  border: 1px solid #8585857e;
  border-radius: 3px;
  display: flex;
}
.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-fullname {
  font-size: 5vw;
  font-weight: 700;
}

.user-bio {
  font-size: 2.5vw;
}

.user-bio-section {
  width: 70%;
  font-size: 3vw;
  padding-left: unset;
}

.user-name {
  font-size: 0.9rem;
  color: #a5a5a5;
}

.desktop-user-status {
  display: none;
}
#repo-section {
  padding: 1rem;
  grid-column: 1/2;
}

#find-repo-search {
  width: 100%;
  padding: 3px 5px;
  border: 1px solid #8585857e;
  margin: 1rem auto;
  border-radius: 3px;
  font-size: 12px;
  border-bottom: 1px solid #eaecef;
}

#find-repo-search::placeholder {
  color: #0909097e;
  font-size: 12px;
}
.query-result {
  border-bottom: 1px solid #eaecef;
  padding-bottom: 0.6rem;
  border-top: 1px solid #eaecef;
  padding-top: 0.6rem;
  margin-bottom: 20px;
}

.user-repository {
  padding: 1.5rem 0;
  border-bottom: 1px solid #eaecef;
  padding-top: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 10px;
}

.repo-detail {
  width: 75%;
}

.repo-name {
  display: block;
  font-weight: bold;
  font-size: 16px;
  color: #58a6ff;
  word-wrap: break-word;
  text-decoration: none;
}
.repo-name:hover {
  text-decoration: underline;
}

.repo-description {
  font-size: 13px;
}

.language-color {
  height: 10px;
  width: 10px;
  /* background-color: orange; */
  display: inline-block;
  border-radius: 50%;
}

.repo-meta-data {
  display: flex;
  flex-wrap: wrap;
  gap: 0 10px;
  font-size: 11px;
  margin-top: 15px;
}

.github-star {
  padding: 5px 10px;
  border: 1px solid #09090941;
  background-color: #e6e6e64d;
  border-radius: 3px;
  font-size: 11px;
  cursor: pointer;
}

.github-star:hover {
  border: 1px solid #090909d0;
}
.no-repo {
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  color: grey;
}

@media screen and (max-width: 399px) {
  .profile-tab i {
    display: none;
  }
}
@media screen and (max-width: 338px) {
  #profile-tab-section {
    width: 100%;
    overflow-x: auto;
  }
}
@media screen and (min-width: 615px) {
  #mobile-navbar {
    display: none;
  }
  #desktop-navbar {
    display: flex;
  }
  .header {
    margin-bottom: 40px;
  }
  .main {
    grid-template-columns: 25% 75%;
    grid-template-rows: 30px 1fr;
  }
  #profile-tab-section {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-top: 0;
    padding-left: 25.5%;
  }
  /* #profile-tab-section {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-top: 0;
    padding-left: 32%;
    min-width: 100vw;
    margin-left: -6.5%;
  } */

  #profile-section {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  #repo-section {
    grid-column: 2/3;
  }
  .user-profile {
    flex-direction: column;
    margin-top: -1rem;
  }
  .mobile-user-status {
    display: none;
  }

  .desktop-user-status {
    display: block;
    height: 30px;
    width: 30px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
    padding-bottom: 1px;
  }

  .user-image-section {
    width: 100%;
  }

  .user-bio-section {
    padding-left: 10%;
    width: 100%;
  }

  .user-fullname {
    /* font-size: 0%; */
    font-size: 1.5rem;
    /* word-break: break-all; */
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
  }

  .user-bio {
    font-size: 0.8rem;
  }

  .user-name {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1320px) {
  .main {
    max-width: 1280px;
  }

  #profile-tab-section {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-top: 0;
    padding-left: calc(50% - 315px);
    min-width: 100vw;
    position: absolute;
    left: 0;
    z-index: -1;
  }

  #profile-section,
  #repo-section {
    margin-top: 2rem;
  }
}
