*,
body,
html,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 14px;
  line-height: 1.5;
  width: 100%;
}

#profile-section {
  display: none;
}
#search-page {
  width: 100%;
  height: 100vh;
  min-height: max-content;

  padding: 2rem;
  background-color: #f6f8fa;
}

#search-page-github-logo {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: fit-content;
}

#search-page-github-logo .github {
  color: #010409;
}

#form-title {
  margin-bottom: 1rem;
  text-align: center;
}
.form-subheading {
  max-width: 400px;
  text-align: center;
  margin: 10px auto;
  margin-bottom: 1.5rem;
}

#search-form {
  width: 100%;
  max-width: 300px;
  min-width: max-content;
  padding: 1rem;
}

.username-label {
  margin-bottom: 1rem;
}

#user-search-input {
  width: 100%;
  padding: 3px 10px;
  outline: none;
  display: block;
  margin-top: 5px;
}
#user-search-input:focus {
  outline: 1px solid #97cbff;
}

.error-placeholder {
  color: red;
  font-size: 12px;
  margin-bottom: 1rem;
  visibility: hidden;
}

#search-profile-btn {
  display: block;
  min-width: 120px;
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid #dfdfdf41;
  color: #fff;
  background-color: #2ea44f;
  border-radius: 3px;
  cursor: pointer;
}
/* HEADER AND NAV BAR STYLES ///////////////////////////////*/
.header {
  width: 100%;
  background-color: #010409;
}
@media screen and (min-width: 425px) and (min-height: 500px) {
  #search-page {
    width: 100%;
    height: 100vh;
    min-height: max-content;
    background-color: none;
  }

  #form-title {
    margin-bottom: 1rem;
  }

  #search-form {
    background-color: #f6f8fa;
    border-radius: 3px;
  }
}
#mobile-navbar,
#desktop-navbar {
  background-color: #24292f;
  width: 100%;
  padding: 0.6rem 1rem;
  transition: height 0.3s ease;
}

.closed {
  height: 54px;
}
.open {
  height: max-content;
}
#mobile-navbar {
  overflow: hidden;
}
.mobile-nav-wrapper,
#desktop-navbar,
.desktop-user-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#desktop-navbar {
  display: none;
  height: 54px;
}

.desktop-nav-wrapper,
.desktop-nav-action {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.desktop-nav-wrapper a,
.desktop-user-icon,
.desktop-nav-item {
  text-decoration: none;
  color: #fff;
}

.desktop-nav-item {
  font-size: 13px;
}

.desktop-nav-action .fa-caret-down {
  margin-left: 5px;
}

.mobile-nav-item {
  color: #fff;
  list-style: none;
  font-size: 18px;
}

#mobile-menu-btn {
  cursor: pointer;
}

.github {
  font-size: 24px;
  color: #fff;
}

.search-box {
  border: 1px solid #ffffff1b;
  background: #0d1117;
  border-radius: 3px;
  padding: 3px 5px;
  font-size: 12px;
}

.mobile-search-box {
  margin-bottom: 20px;
}

.desktop-navbar-search-btn,
.mobile-navbar-search-btn {
  border: 1px solid #ffffff1b;
  padding: 1px 5px;
  border-radius: 3px;
  color: grey;
  float: right;
}

#desktop-search-input,
#mobile-search-input {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 12px;
}

#desktop-search-input::placeholder,
#mobile-search-input::placeholder {
  color: #ffffff7e;
}

.desktop-navbar-link {
  font-size: 13px;
}

.desktop-user-icon-img {
  border-radius: 50%;
}
.mobile-nav-link-wrapper {
  margin-top: 20px;
}
.mobile-nav-link {
  text-decoration: none;
  color: #f0f6fc;
  display: block;
  padding: 5px 0;
  border-top: 0.3px solid #ffffff1b;
  font-size: 12px;
}
.mobile-user-icon-wrapper {
  display: flex;
  align-items: center;
}
#mobile-user-icon-img {
  border-radius: 50%;
}
/*//////////NAV STYLE ENDS//////////////////////////// */

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 1rem; */
}

#profile-section {
  grid-row: 1 / 2;
  padding: 0 1rem;
}

#profile-tab-section {
  grid-row: 2 / 3;
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid #eaecef;
  font-size: 12px;
}

.profile-tab {
  padding: 6px 10px;
  cursor: pointer;
}

.profile-tab:hover {
  border-bottom: 2px solid tomato;
  font-weight: bold;
}

#repo-count {
  font-size: 10px;
  padding: 0.2px 4px;
  background-color: #4343435d;
  border-radius: 34%;
}
.user-image-section {
  position: relative;
}
#user-profile-image {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
}
.desktop-user-status {
  position: absolute;
  bottom: 20%;
  right: 5%;
}
.user-bio {
  display: none;
}
.mobile-user-status {
  margin-top: 10px;
  padding: 2px 5px;
  border: 1px solid #8585857e;
  border-radius: 3px;
}
.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-fullname {
  font-size: 1.6rem;
  font-weight: 700;
}

.desktop-user-status {
  display: none;
}
#repo-section {
  padding: 1rem;
}

#find-repo-search {
  width: 100%;
  padding: 3px 5px;
  border: 1px solid #8585857e;
  margin: 1rem auto;
  border-radius: 3px;
  font-size: 12px;
  border-bottom: 1px solid #eaecef;
}

#find-repo-search::placeholder {
  color: #0909097e;
  font-size: 12px;
}
.query-result {
  border-bottom: 1px solid #eaecef;
  padding-bottom: 0.6rem;
  border-top: 1px solid #eaecef;
  padding-top: 0.6rem;
  margin-bottom: 20px;
}

.user-repository {
  padding: 1.5rem 0;
  border-bottom: 1px solid #eaecef;
  padding-top: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 10px;
}

.repo-detail {
  width: 75%;
}

.repo-name {
  font-weight: bold;
  font-size: 16px;
  color: #58a6ff;
  word-wrap: break-word;
  text-decoration: none;
}
.repo-name:hover {
  text-decoration: underline;
}

.repo-description {
  font-size: 13px;
}

.language-color {
  height: 10px;
  width: 10px;
  background-color: orange;
  display: inline-block;
  border-radius: 50%;
}

.repo-meta-data {
  display: flex;
  flex-wrap: wrap;
  gap: 0 10px;
  font-size: 11px;
  margin-top: 15px;
}

.github-star {
  padding: 5px 10px;
  border: 1px solid #09090941;
  background-color: #e6e6e64d;
  border-radius: 3px;
  font-size: 11px;
  cursor: pointer;
}

.github-star:hover {
  border: 1px solid #090909d0;
}

@media screen and (max-width: 399px) {
  .profile-tab i {
    display: none;
  }
}
@media screen and (max-width: 338px) {
  #profile-tab-section {
    width: 100%;
    overflow-x: auto;
  }
}
@media screen and (min-width: 615px) {
  #mobile-navbar {
    display: none;
  }
  #desktop-navbar {
    display: flex;
  }
  .header {
    margin-bottom: 40px;
  }
  .main {
    grid-template-columns: 25% 75%;
    grid-template-rows: 30px 1fr;
  }
  #profile-tab-section {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-top: 0;
    padding-left: 25.5%;
  }

  #profile-section {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .user-profile {
    flex-direction: column;
  }
  .mobile-user-status {
    display: none;
  }

  .desktop-user-status {
    display: block;
    height: 30px;
    width: 30px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
  }

  .user-fullname {
    font-size: 150%;
  }
}

@media screen and (min-width: 1320px) {
  .main {
  }
}
